<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<footer class="container-fluid mt-3 foot" th:fragment ="foot">
  <div class="container">
      <div class="row align-items-start">
          <div class="col navy">
            <a style="color: #383A47;" href="https://github.com/yum-rando/yumrando"><i class="fa fa-github"></i></a>
          </div>
          <div class="col navy">
                <p style="color: #383A47;" class="text-center">© YumRando 2020 Welcome to the Yum side</p>
          </div>
          <div class="col">
              <img style="height:2em;" class="text-center" src="/img/taco.png" alt="taco">
          </div>
      </div>
  </div>

</footer>
</body>
</html>