<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8" >
    <title>Title</title>
</head>
<body>

<div class="jumbotron jumbotron-fluid homeJumbo" th:fragment ="header">
    <div class="container-fluid fryFriend">
        <img class="mx-auto d-block img-fluid" src="/img/blueKetchupFries.png" alt="cartoon ketchup and fries">
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col blueGrid"></div>
        <div class="col-6">
            <h1 class="display-4">Hungry? Too many choices?</h1>
            <p class="lead">Let YumRando decide your next meal</p>
        </div>
        <div class="col blueGrid"></div>
    </div>

</div>
</body>
</html>