<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-JcKb8q3iqJ61gNV9KGb8thSsNjpSL0n8PARn9HuZOnIxN0hoP+VmmDGMN5t9UJ0Z" crossorigin="anonymous">
   <!-- FontAwesome CSS -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css">
    <!--  CSS -->
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>

    <nav class="pt-30 pb-30 bg-light text-center navigation_1" th:fragment ="navbar">
        <div class="container px-xl-0">
            <div class="row justify-content-center align-items-center f-16">
                <div class="mb-20 mb-lg-0 col-lg-3 text-lg-left" data-aos="fade-down" data-aos-delay="250">
                    <a href="/index" class="link color-main f-24 bold">
                        YumRando
                    </a>
                </div>
                <div class="col-lg-6" data-aos="fade-down" data-aos-delay="0">
                    <a href="/index" class="link mx-15 color-main">
                        Home
                    </a>
                    <a href="/profile" class="link mx-15 color-main">
                        Profile
                    </a>
                    <a href="/" class="link mx-15 color-main">
                        Contact
                    </a>
                    <a href="/" class="link mx-15 color-main">
                        About Us
                    </a>
                    <a href="#" class="mx-15 link color-main">
                        <i class="fas fa-search">
                        </i>
                    </a>
                </div>
                <div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center" data-aos="fade-down" data-aos-delay="250">
                    <a href="/login" class="link mr-20 color-main">
                        Sign In
                    </a>
                    <a href="/register" class="btn mr-20 sm action-2 f-16">
                        Sign Up
                    </a>
                </div>
            </div>
        </div>
    </nav>


</body>
</html>