<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security" >
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <!-- Bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-giJF6kkoqNQ00vy+HMDP7azOuL0xtbfIcaT9wjKHr8RbDVddVHyTfAAsrekwKmP1" crossorigin="anonymous">
   <!-- FontAwesome CSS -->
    <!--  CSS -->
    <link href="/css/main.css" rel="stylesheet" />
</head>
<body>


<!--                <div sec:authorize="isAuthenticated()">-->
<nav>
    <nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navbar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">
                <img src="/img/yumLong.png" alt="YumRando" id="navLogo">
            </a>
            <button class="navbar-toggler toggle" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse container" id="navbarNav">
                <section class="col-6">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active links" aria-current="page" href="/"><img class="icon" src="/img/home.png" alt="house">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links" href="/profile" sec:authorize="isAuthenticated()" th:href="@{'/profile/'}"><img class="icon" src="/img/userpng.png" alt="user">Profile</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links" href="#"><img class="icon" src="/img/letter.png" alt="letter">Contact</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link links" href="/about"><img class="icon" src="/img/notepad.png" alt="notepad">About Us</a>
                        </li>
                    </ul>
                </section>
                    <form th:action="@{/logout}" th:method="post">
                        <button class="btn-link btn" style="margin-top: 8px">Logout</button>
                    </form>
            </div>

            </div>
        <div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center" data-aos="fade-down" data-aos-delay="250">
            <a href="/login" class="btn btn-outline-primary login" sec:authorize="!isAuthenticated()" role="button">Sign In</a>
            <a href="/register" class="btn btn-primary register" sec:authorize="!isAuthenticated()" role="button">Sign Up</a>
            <a href="/logout" class="btn btn-primary register " sec:authorize="isAuthenticated()" role="button">Log Out</a>
        </div>
    </nav>
</nav>

    <!--    old nav -->
<!--    <nav class="pt-30 pb-30 bg-light text-center navigation_1" th:fragment ="navbar">-->
<!--        <div class="container px-xl-0">-->
<!--            <div class="row justify-content-center align-items-center f-16">-->
<!--                <div class="mb-20 mb-lg-0 col-lg-3 text-lg-left" data-aos="fade-down" data-aos-delay="250">-->
<!--                    <a href="/" class="link color-main f-24 bold">-->
<!--                        YumRando-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="col-lg-6" data-aos="fade-down" data-aos-delay="0">-->
<!--                    <a href="/index" class="link mx-15 color-main">-->
<!--                        Home-->
<!--                    </a>-->
<!--                    <a sec:authorize="isAuthenticated()" th:href="@{'/profile/'}" class="link mx-15 color-main">-->
<!--                        Profile-->
<!--                    </a>-->
<!--                    <a href="/" class="link mx-15 color-main">-->
<!--                        Contact-->
<!--                    </a>-->
<!--                    <a href="/" class="link mx-15 color-main">-->
<!--                        About Us-->
<!--                    </a>-->
<!--                    <a href="#" class="mx-15 link color-main">-->
<!--                        <i class="fas fa-search">-->
<!--                        </i>-->
<!--                    </a>-->
<!--                </div>-->
<!--                <div class="mt-20 mt-lg-0 col-lg-3 d-flex flex-wrap justify-content-center justify-content-lg-end align-items-center" data-aos="fade-down" data-aos-delay="250">-->
<!--                    <a href="/login" class="link mr-20 color-main">-->
<!--                        Sign In-->
<!--                    </a>-->
<!--                    <a href="/register" class="btn mr-20 sm action-2 f-16">-->
<!--                        Sign Up-->
<!--                    </a>-->
<!--                </div>-->
<!--            </div>-->
<!--        </div>-->
<!--    </nav>-->


</body>
</html>