<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head :: head">
</head>
<body>
<nav th:replace="partials/navbar :: navbar"/>

<h1 class="text-center">Meet our Yummy Developers</h1>
<br>
<hr>
<!--======== 1 ROW 4 COLUMNS ==========-->
<div class="container">
    <div class="card-deck">
        <div class="card">
            <img src="../../static/img/amandaHeadshot.png" class="card-img-top" alt="...">
            <div class="card-body">

                <!--Amanda Woods-->
                <div>
                    <h4>Amanda</h4>
                    <h4>Woods</h4>
                    <a href=""><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/amandagarrison787/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/amandagwoods"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Chelsea Rolland-->
                <div>
                    <h4>Chelsea</h4>
                    <h4>Rolland</h4>
                    <a href=""><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/chelsea-rolland-657ab31b7/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/ChelseaRolland"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Roberto Cuyar-->
                <div>
                    <h4>Roberto</h4>
                    <h4>Cuyar</h4>
                    <a href="https://www.linkedin.com/in/roberto-cuyar-5b9815124/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/robertocuyar"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
        <div class="card">
            <img src="" class="card-img-top" alt="...">
            <div class="card-body">
                <!--Rocco Paccione-->
                <div>
                    <h4>Rocco</h4>
                    <h4>Paccione</h4>
                    <a href=""><i class="fas fa-envelope"></i></a>
                    <a href="https://www.linkedin.com/in/rocco-paccione0321/"><i class="fab fa-linkedin"></i></a>
                    <a href="https://github.com/roccopaccione"><i class="fab fa-github-square"></i></a>
                </div>
            </div>
        </div>
    </div>

    <br>
    <hr>
    <br>
    <div>
        <p>Yum-Rando is a game-changing web application built to answer the age-old question of “what’s for dinner?” Built using geolocation data from the Zomato restaurant API, Yum-Rando can suggest a randomized restaurant for you that is near your location. You are also able to build a list using local storage to randomize through. If you chose to become a registered user you will have the ability to further customize your experience through self-generated lists that are saved to our database with a unique title of your choosing, as well as the ability to review a restaurant and adding photos through the Filestack API, and share your experience with your friends.</p>
    </div>
</div>
<br>
<hr>
<br>
<script th:replace="partials/scripts :: script"></script>

</body>
</html>