<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head">
<body>
<nav th:replace="partials/navbar :: navbar"/>
<div th:replace="partialsFile/userInfo :: user-info"/>
<div th:replace="partialsFile/userLists :: user-lists-profile"/>
<div th:replace="partialsFile/userTagsList :: user-lists-tags"/>
<div th:replace="partialsFile/userHistoryList :: user-history-list"/>
<div th:replace="partialsFile/userFriendsList :: user-friends-list"/>
<script th:replace="partials/scripts :: script"></script>
<script src="js/apiAddList.js"></script>
<script src="js/apiEditList.js"></script>
<script src="js/profile.js"></script>

</body>
</html>