<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/register.login-head :: head">
<body>
<nav th:replace="partials/registerNav :: nav"/>
    <article class="container">
        <div class="row">
            <form class="col-12 col-lg-6 col-xl-6" th:action="@{/register}" th:method="post" th:object="${user}">
                <h1>Sign Up</h1>
                <!--   Validation Error        -->
                <div class="col-12 col-lg-12 col-xl-12 my-3" th:if="${dupError}">
                    <label for="username" class="form-label">Create your username</label>
                    <input type="text" class="form-control is-invalid my-2" th:field="*{username}" id="username">
                    <p th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                    <p class="errorValid">Please enter a username that is not in use</p>
                </div>
                <!--                -->
                <div class="col-12 col-lg-12 col-xl-12 mt-3 my-2" th:unless="${dupError}">
                    <label for="username" class="form-label">Create your username</label>
                    <input type="text" class="form-control my-2" th:field="*{username}" id="username">
                    <p class="errorValid" th:if="${#fields.hasErrors('username')}" th:errors="*{username}"></p>
                </div>
                <!--   Validation Error        -->
                <div class="col-12 col-lg-12 col-xl-12 mt-3 my-2" th:if="${#fields.hasErrors('password')}">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control is-invalid my-2" th:field="*{password}" id="password">
                </div>
                <div class="col-12 col-lg-12 col-xl-12 pt-1 my-2" th:if="${#fields.hasErrors('password')}">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control is-invalid my-2" id="confirmPassword" name="confirmPassword">
                    <p class="errorValid" th:errors="*{password}"></p>
                </div>
                <!--                -->
                <div class="col-12 col-lg-12 col-xl-12 my-2" th:unless="${#fields.hasErrors('password')}">
                    <label for="password" class="form-label">Password</label>
                    <input type="password" class="form-control my-2" th:field="*{password}" id="password">
                </div>
                <div class="col-12 col-lg-12 col-xl-12 pt-1 my-2" th:unless="${#fields.hasErrors('password')}">
                    <label class="form-label" for="confirmPassword">Confirm Password</label>
                    <input type="password" class="form-control my-2" id="confirmPassword" name="confirmPassword">
                    <p th:errors="*{password}"></p>
                </div>
                <div class="col-12 col-lg-6 col-xl-6 my-3">
                    <button type="submit" class="text-center btn login regLog">Submit</button>
                </div>

            </form>
        </div>
    </article>
<script th:replace="partials/scripts :: script"></script>
</body>
</html>