<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials :: head">
    <title id="customTitle">Sign Up</title>
</head>
<body>
<nav th:replace="partials :: navbar"/>
<h1>Create an Account</h1>
<div class="container">
<form action="/register" method="post">
    <div class="mb-3">
        <label for="username" class="form-label">Enter a username</label>
        <input type="text" class="form-control" id="username" name="username" required>
    </div>
    <div class="mb-3">
        <label for="password" class="form-label">Password</label>
        <input type="password" class="form-control" id="password" name="password" required>
    </div>
    <div class="mb-3">
        <label for="confirmPassword">Confirm Password</label>
        <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
</div>
<script th:replace="partials :: bootstrap"></script>
<script th:replace="partials :: jquery"></script>
</body>
</html>