<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/review-head :: head">
<body class="bg-navy">
<nav th:replace="partials/navbar :: navbar"/>
<div class="main mt-5 bg-navy">
    <div class="container">
        <div class="row roundCorners" id="review-container-row">
            <div class="col-12 col-md-4 d-none d-md-block bg-green side-banner-roundedCorners" id="review-side-panel"></div>
            <div class="col-12 col-md-8 review-form-container bg-white">
                <div class="text-center mb-5 mt-3">
                    <h1 class="text-center lilac">Rate Your Experience At </h1>
                    <hr class="border border-0 mx-auto w-75 pink">
                    <h1 th:text="${restaurantName}" class="text-center lilac"><span>!</span></h1>
                </div>
                <div class="roundCorners">
                    <form th:action="@{'/list/' + ${listId} + '/restaurant/' + ${restaurantId} + '/review/' + ${friendId}}"
                          th:method="POST" th:object="${review}">
                        <div class="d-flex justify-content-evenly m-3 text-center">
                            <div class="form-check form-check-inline" id="radio-1-btn">
                                <input th:field="*{rating}" class="form-check-input" type="radio"
                                       id="inlineCheckbox1"
                                       value="1" required>
                                <label class="form-check-label" for="inlineCheckbox1">
                                    <img th:src="@{/img/rating-1.png}" alt="rating-1-terrible" class="w-100 m-auto emojis">
                                </label>
                            </div>
                            <div class="form-check form-check-inline" id="radio-2-btn">
                                <input th:field="*{rating}" class="form-check-input" type="radio"
                                       id="inlineCheckbox2"
                                       value="2">
                                <label class="form-check-label" for="inlineCheckbox2">
                                    <img th:src="@{/img/rating-2.png}" alt="rating-2-bad" class="w-100 m-auto emojis">
                                </label>
                            </div>
                            <div class="form-check form-check-inline" id="radio-3-btn">
                                <input th:field="*{rating}" class="form-check-input" type="radio"
                                       id="inlineCheckbox3"
                                       value="3">
                                <label class="form-check-label" for="inlineCheckbox3">
                                    <img th:src="@{/img/rating-3.png}" alt="rating-3-ok" class="w-100 m-auto emojis">
                                </label>
                            </div>
                            <div class="form-check form-check-inline" id="radio-4-btn">
                                <input th:field="*{rating}" class="form-check-input" type="radio"
                                       id="inlineCheckbox4"
                                       value="4">
                                <label class="form-check-label" for="inlineCheckbox4">
                                    <img th:src="@{/img/rating-4.png}" alt="rating-4-good" class="w-100 m-auto emojis">
                                </label>
                            </div>
                            <div class="form-check form-check-inline" id="radio-5-btn">
                                <input th:field="*{rating}" class="form-check-input" type="radio"
                                       id="inlineCheckbox5"
                                       value="5">
                                <label class="form-check-label" for="inlineCheckbox5">
                                    <img th:src="@{/img/rating-5.png}" alt="rating-5-excellent" class="w-100 m-auto emojis">
                                </label>
                            </div>
                        </div>
                        <div class="d-flex justify-content-end align-items-center">
                            <div class="text-center">
                                <img id="photoPreview" src="" alt="" class="w-50 m-auto">
                                <input type="hidden" id="photo" name="photo_image_url">
                                <button id="add-photo" class="btn login"><i class="fas fa-plus"></i> Photo</button>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="exampleFormControlTextarea1"></label>
                            <textarea th:field="*{comment}" class="form-control" id="exampleFormControlTextarea1"
                                      rows="3" placeholder="Leave Comment Here"></textarea>
                        </div>
                        <div class="my-4 text-center" id="review-submit-div">
                            <button type="submit" class="w-100 btn btn-pink" id="submit-review-btn">Submit</button>
                        </div>
                    </form>
                </div>
                <hr class="border border-0 mx-auto w-100 pink">
                <div class="mb-4">
                    <div class="d-flex justify-content-between align-items-center my-3">
                        <h1 class="lilac">Photos</h1>
                        <button type="button" id="photo-edit" class="btn login"><i class="fas fa-edit"></i> Photos</button>
                    </div>

                    <div class="d-inline" th:if="${photos.size()} >= 3">
                        <form class="text-center"
                              th:action="@{'/list/' + ${listId} + '/restaurant/' + ${restaurantId} + '/review/' + ${friendId} + '/photos/delete-all'}"
                              th:method="POST">
                            <button type="submit" id="delete-all-photos"
                                    class="btn btn-red delete-photo-list d-none"><i
                                    class="fas fa-trash-alt"></i> All Photos
                            </button>
                        </form>
                    </div>

                    <div id="carouselExampleControls" class="carousel slide" data-bs-ride="carousel">
                        <div class="carousel-inner">
                            <div class="carousel-item active img-fluid">
                                <img th:src="@{/img/yumlogo.png}" class="d-block m-auto p-1 review-caro-img" alt="YumRando Logo"
                                     id="yumCarLogo">
                            </div>
                            <div class="carousel-item img-fluid" th:each="photo : ${photos}">
                                <img th:src="@{${photo.url}}" class="d-block m-auto p-1 review-caro-img" th:alt="${photo.url}">
                                <form class="text-center"
                                      th:action="@{'/list/' + ${listId} + '/restaurant/' + ${restaurantId} + '/review/photos/' + ${photo.id} +'/' + ${friendId} +'/delete'}"
                                      th:method="POST">
                                    <button type="submit" class="btn btn-red delete-photo-list d-none"><i
                                            class="fas fa-trash-alt"></i></button>
                                </form>
                            </div>
                        </div>
                        <a class="carousel-control-prev" href="#carouselExampleControls" role="button"
                           data-bs-slide="prev">
                            <i class="far fa-arrow-alt-circle-left fs-1 navy" aria-hidden="true"></i>
<!--                            <span class="carousel-control-prev-icon" aria-hidden="true"></span>-->
                            <span class="visually-hidden">Previous</span>
                        </a>
                        <a class="carousel-control-next" href="#carouselExampleControls" role="button"
                           data-bs-slide="next">
                            <i class="far fa-arrow-alt-circle-right fs-1 navy" aria-hidden="true"></i>
<!--                            <span class="carousel-control-next-icon" aria-hidden="true"></span>-->
                            <span class="visually-hidden">Next</span>
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<footer th:replace="partials/footer :: footer"></footer>
<script src="https://kit.fontawesome.com/662caa46d6.js" crossorigin="anonymous"></script>
<script th:replace="partials/scripts :: script"></script>
<script th:src="@{/js/review.js}"></script>
<script th:src="@{/js/apiKey.js}"></script>
<script th:src="@{/js/filestack.js}"></script>
</body>
</html>