<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head th:replace="partials/head :: head (Title = '500 Error')"></head>
<body>
    <th:block>
        <div class="card text-center">
            <img src="/img/error.png" alt="error" style="width:60%;">
            <div class="card-body error">
                <h1 class="card-title">Oops! Something went wrong.</h1>
                <h2>Try going back to our <a style="color: #383A47;/">homepage.</a></h2>
            </div>
        </div>
    </th:block>
</body>
</html>