#about-jumbo {
    background: url(../img/about-background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.main {
    margin-bottom: 30vh;
}