/*font-family: 'Quando', serif;*/
/*font-family: 'Lobster Two', cursive;*/
/*Illustration by <a href="undefined">Icons 8</a> from <a href="https://icons8.com/">Icons8</a>*/

/* background colors*/
.bg-navy{
    background-color: #383A47;
}

.bg-yellow{
    background-color: #eed949;
}

.bg-green{
    background-color: #7cd0bd;
}

.bg-pink{
    background-color: #E0719E;
}

.bg-white{
    background-color: #F3F6E6;
}

.bg-lilac{
    background-color: #AAC6FC;
}

/* button colors */
.btn-pink{
    background-color: #E0719E;
    color: #F3F6E6;
    font-weight: bold;
}

.btn-pink:hover{
    background-color: #dda8b8;
    color: #F3F6E6;
}

.btn-yellow{
    background-color: #eed949;
    color: #383A47;
    font-weight: bold;
}

.btn-yellow:hover {
    background-color: #e9e3bf;
    color: #383A47;
}

.btn-green {
    background-color: #7cd0bd;
    color: #383A47;
    font-weight: bold;
}
/* basic text */
h1 {
    color: #AAC6FC;
    font-family: 'Quando', serif;
    font-weight: bold;
}
h2{
    color: #AAC6FC;
    font-family: 'Lobster Two', cursive;
}
h3{
    color: #AAC6FC;
    font-family: 'Quando', serif;
}
h4{
    color: #AAC6FC;
    font-family: 'Quando', serif;

}
/*h5{*/
/*    color: #AAC6FC;*/
/*    font-family: 'Quando', serif;*/

/*}*/
h6{
    color: #AAC6FC;
    font-family: 'Quando', serif;

}
p{
    color: #AAC6FC;
    font-family: 'Quando', serif;
}


/* background colors*/
.bg-navy{
    background-color: #383A47;
}

.bg-yellow{
    background-color: #eed949;
}

.bg-green{
    background-color: #7cd0bd;
}

.bg-pink{
    background-color: #E0719E;
}

.bg-white{
    background-color: #F3F6E6;
}

.bg-lilac{
    background-color: #AAC6FC;
}

/* button colors */
.btn-pink{
    background-color: #E0719E;
    color: #F3F6E6;
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.btn-pink:hover{
    background-color: #dda8b8;
    color: #F3F6E6;
}

.btn-yellow{
    background-color: #eed949;
    color: #383A47;
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
}

.btn-yellow:hover {
    background-color: #e9e3bf;
    color: #383A47;
}

.btn-green{
     background-color: #7cd0bd;
     color: #383A47;
     font-weight: bold;
     border: #F3F6E6 2px solid;
     margin: 1em;
    font-family: 'Quando', serif;    font-style: normal;
    font-size: 18px;
    line-height: 22px;
 }

.btn-green:hover{
    background-color: #c7e2e2;
    color: #383A47;
    border: #F3F6E6 2px solid;

}

.btn-red{
    background: #9b1d20;
    color: #f3f6e6;
    border: #f3f6e6;
}

.btn-red:hover{
    background: #f3f6e6;
    color: #9b1d20;
    border: #9b1d20;
}

/* text colors */
.navy{
    color: #383A47;
}

.yellow{
    color: #eed949;
}

.green{
    color: #7cd0bd;
}

.pink{
    color: #E0719E;
}

.white{
    color: #F3F6E6;
}

.lilac{
    color: #AAC6FC;
}
.red{
    color: #9b1d20;
}

/*corners*/
.roundCorners{
    border-radius: 15px;
}

/* landing page */
.jumbotron{
    background-size: cover;
    height: 100vh;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
}
.logoLanding{
    z-index: 2;
    width: 20%;
    position: relative;
}
.carousel-item span{
    font-size: 5em;
    font-weight: bolder;
    font-family: 'Quando', serif;
}

.landingButton{
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    position: relative;
    top: 5em;
    right: 2em;
    z-index: 2;
}

/* login and register */
#loginBody, #registerBody{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height: 100vh;
}

/* modal */
.modal-content {
    background: #F3F6E6;
    border: #7cd0bd solid 4px;
}
.modal-header{
    background: #383A47;
    border-bottom: #383A47 solid 0;
    align-content: center;
}

.modal-title{
    color: #7cd0bd!important;
    font-family: 'Roboto', sans-serif!important;
    font-weight: bolder;
    line-height: 0;
    font-size: x-large;

}
.modal-address{
    color: #383A47;
    font-family: 'Quando', serif;
}

.modal-close{
    float: end;
    color: #E0719E;
    background: #383A47;
}

input{
    background: #AAC6FC;
    border: #383A47 solid 1px;
    color: #383A47;
}
.modal-body{
    background: #383A47;
}
.modal-footer{
    border: #383A47 solid 0;
}

/*show modal*/
.search-show{
    background: #f3f6e6;
}
.search-name{
    background: #F3F6E6;
    color: #7cd0bd!important;
    font-family: 'Quando', serif;

}
.addRest{
    display: flex;
    flex-direction: column;
}
.indexMainContainer{
    margin-top: 2em;
    width: 100%;
}

#random-button-tool{
    display: flex;
    align-items: center;
    position: relative;
    bottom: 50em;

}
/*footer*/
.foot{
    background: #7cd0bd;
    color: #F3F6E6;

}
.footLogo{
    height: 5em;
}
.footer-right{
    display: flex;
    align-items: flex-end;
}
.footer-left{
    display: flex;
    align-items: flex-start;
}
/* custom css */



/* Common Styles */
*{
    padding:0;
    margin:0;
    box-sizing: border-box;
}
body{
    width: 100%;
    height: 100vh;
    background-color: #383A47;
}
/* Navbar */
.navbar{
    background: #383A47 !important;
    box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

#navLogo{
    width: 229px;
    height: 46px;
    left: 58px;
    top: 7px;
}

.toggle{
    color: #AAC6FC !important;
    border: #AAC6FC;
}

.collapse:not(.show){
    display: none;
}

.links{
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;
    color: #AAC6FC !important;
}

.icon{
    height: 1em;
    margin: .25em;
}

.links:hover{
    text-decoration: underline;
}

.login{
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal !important;
    font-size: 18px !important;
    line-height: 22px !important;

    color: #E0719E !important;
    background: #F3F6E6 !important;
    border: 1px solid #E0719E !important;
    box-sizing: border-box;
    border-radius: 6px;
    margin: .5em;
}

.login:hover{
    color: #F3F6E6 !important;
    background: #E0719E !important;
    border: 1px solid #E0719E !important;
}

.register{
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #F3F6E6;
    background: #E0719E;
    border-radius: 6px;
    border: 1px solid #E0719E;
    margin: .5em;
}

.register:hover{
    color: #AAC6FC;
    background: #E0719E;
    border: 1px solid #AAC6FC;

}


/* Load animation */
#logo{
    /*position: absolute;*/
    /*top:50%;*/
    /*left:50%;*/
    /*transform: translate(-50%,-50%);*/
}
.yum_0{
    stroke-dasharray: 3713px;
    stroke-dashoffset: 3714px;
    animation: yum_draw_0 3100ms ease-in-out 0ms infinite;
}
.yum_1{
    stroke-dasharray: 3713px;
    stroke-dashoffset: 3714px;
    animation: yum_draw_1 3100ms ease-in-out 0ms infinite;
}
.yum_2{
    stroke-dasharray: 3713px;
    stroke-dashoffset: 3714px;
    animation: yum_draw_2 3100ms ease-in-out 0ms infinite;
}
@keyframes yum_draw {100%{stroke-dashoffset: 0;}}
@keyframes yum_fade {0%{stroke-opacity: 1;}
    96.7741935483871%{stroke-opacity:1;}
    100%{stroke-opacity:0;}
}
@keyframes yum_draw_0 {
    0%{stroke-dashoffset: 3714}
    96.7741935483871%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: 0;}
}
@keyframes yum_draw_1 {
    0%{stroke-dashoffset: 3714}
    96.7741935483871%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: 0;}
}
@keyframes yum_draw_2 {
    0%{stroke-dashoffset: 3714}
    96.7741935483871%{ stroke-dashoffset: 0;}
    100%{ stroke-dashoffset: 0;}
}


/* Jumbotron */

.homeJumbo{
    background-image: url("/img/zoomBlueDots.png");
    height: 460px;
    margin: 0;
    text-align:center;
    vertical-align: center;
}

.fryFriend{
    width: 818px;
    height: 457px;
}

.blueGrid{
    background-image: url("img/blueGrid.png");
    height: 20%;
}
/* --- 5. index --- */
#semiCircle{
    height: 335px;
    position: relative;
    bottom: 8em;
    z-index: 1;
}

.pineapple{
    /*position: absolute;*/
    /*left: 75%;*/
    margin-top: 1em;
}
#pineapple{
    height: 335px;
}

/* surprise me*/
#phone{
    height: 40em;
}
#magicText{
    position: relative;
    bottom: 34em;
    left: 5em;
}

#predict{
    font-family: 'Lobster Two', cursive;
    color: #383A47;
}
#random-search-input{
    background: #AAC6FC;
    border: 1px solid #3d3f4d;
    font-family: 'Quando', serif;
}

/* randomizer gif  */
#rain{
    height: 15em;
    display: flex;
    justify-content: center;
}

/*randomizer btn*/
.rando{
    position: relative;

}

/* error  */
.error{
    font-family: 'Quando', serif;
    color: #383A47;
    text-align: center;
    background: #ebefdf;
}

.btn-green:hover{
    background-color: #c7e2e2;
    color: #383A47;
    border: #F3F6E6 2px solid;

}

/* Media Queries */
/*X-Small devices (portrait phones, less than 576px)*/
/*No media query for `xs` since this is the default in Bootstrap*/

/*Small devices (landscape phones, 576px and up)*/
@media (min-width: 576px) {

}


/*Medium devices (tablets, 768px and up)*/
@media (min-width: 768px) {

}


/*Large devices (desktops, 992px and up)*/
@media (min-width: 992px) {

}

/*X-Large devices (large desktops, 1200px and up)*/
@media (min-width: 1200px) {

}

/*XX-Large devices (larger desktops, 1400px and up)*/
@media (min-width: 1400px) {

}