.label-font{
    font-family: 'Quando', serif;
    font-size: 18px;
}

#toggle-user-info, #user-info-submit, #edit-tag-list, .button-default {
    margin-right: 0 !important;
}

.profile-list-item{
    margin-bottom: 0 !important;
}

.icon-container{
    cursor: pointer;
}

.custom-padding{
    padding: 19px 0;
}
#profile-jumbo{
    background: url(../img/profile.background.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}
.reject-small {
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 22px;

    color: #E0719E;
    background: #F3F6E6;
    border: 1px solid #E0719E;
    box-sizing: border-box;
    border-radius: 6px;
}

#history-table{
    margin-bottom: 30vh;
}

#friend-star {
    width: 18px;
    height: 18px;
}

#request-text{
    margin-left: .5rem;
}

#profile-img-content{
    height: 332px !important;
    border-color:  #7cd0bd !important;
}

#request-button{
    margin-left: 0 !important;
}
/*#welcome-container{*/
/*    position: relative;*/

/*}*/

/*#welcome-username{*/
/*    position: absolute;*/
/*    top: 240px;*/
/*}*/


@media screen and (max-width:768px) {
    .small-profile-item {
        margin-bottom: 3rem !important;
    }
}