*{
    box-sizing: border-box;
}
body{
    background: url(../img/YumRandoLogIn.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}
h1{
    text-align: center;
}
.container{
    margin-top: 1em;
}
.form-label {
    color: #F3F6E6;
    font-family: 'Quando', serif
}
.errorValid {
    color: indianred;
}

.regLog {
    margin-left: 0;
    margin-top: 1.3em;
    width: 100%;
}
.signLog {
    margin-left: 0;
    margin-top: 1.3em;
    width: 100%;
    font-family: 'Quando', serif;    font-style: normal;
    font-weight: normal;
    font-size: 18px !important;
    line-height: 20px;

    color: #E0719E !important;
    background: #E0719E;
    border-radius: 6px;
    border: 1px solid #F3F6E6;
}
.signLog:hover {
    color: #F3F6E6 !important;
    background: #E0719E;
    border: 1px solid #F3F6E6;
}

.alert{
    margin-left: 0;
}
#logOutMsg{
    color: #383A47 !important;
    margin: 0;
}

