#review-side-panel{
    background: url(../img/rating.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

#review-container-row{
    border: #E0719E 1px solid;
}

.review-caro-img{
    height: 12em;
}

@media (min-width: 768px) {
    #submit-review-btn {
        width: 50%;
    }
}