#review-side-panel{
    background: url(../img/rating.png) no-repeat center center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    padding: 0;
}

.review-caro-img{
    height: 12em;
}

 .side-banner-roundedCorners{
     border-bottom-left-radius: 15px;
     border-top-left-radius: 15px;
 }

 .review-form-container{
     border-top-right-radius: 15px;
     border-bottom-right-radius: 15px;
 }

 .main{
     margin-bottom: 30vh;
 }

@media (min-width: 260px) and (max-width: 319.98px) {
    .emojis {
        width: 15px !important;
        height: 15px !important;
    }
    #rating-container{
        display: flex !important;
        justify-content: space-around !important;
    }
}

@media (min-width: 768px) {
    #submit-review-btn {
        width: 25% !important;
    }

    #review-submit-div{
        text-align: start !important;
    }

    .emojis{
        width: 75%!important;
    }

}

@media (min-width: 992px) {
    .emojis{
        width: 50%!important;
    }
}