<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="partials/head :: head">

</head>
<body>

<nav th:replace="partials/navbar :: navbar"/>

<div class="jumbotron jumbotron-fluid homeJumbo">
    <div class="container fryFriend">
        <img class="mx-auto d-block img-fluid" src="/img/blueKetchupFries.png" alt="cartoon ketchup and fries">
    </div>
</div>

<div th:replace="partialsFile/show-modal-partial :: show-modal"></div>
<div th:replace="partialsFile/add-modal-partial :: add-modal"></div>
<div th:replace="partialsFile/search-modal-partial :: search-modal"></div>
<div th:replace="partialsFile/app :: app"></div>



<script th:replace="partials/scripts :: script"></script>
<script src="js/apiKey.js"></script>
<script src="js/apiSearch.js"></script>
<script src="js/apiCreate.js"></script>
<script src="js/apiShow.js"></script>
<script src="js/geoLocation.js"></script>
<script src="js/app.js"></script>

</body>
</html>