<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security"lang="en">
<head th:replace="partials/head :: head">

</head>
<body class="bg-navy>

<div class="container-fluid">
    <div class="landingButton">
        <a href="/login" class="btn btn-outline-primary btn-green" style="width: 10em" sec:authorize="!isAuthenticated()" role="button">Sign In</a>
        <a href="/register" class="btn btn-primary btn-green" sec:authorize="!isAuthenticated()" role="button" style="width: 10em">Sign Up</a>
    </div>
    <div>
        <img id="semiCircle" class="float-end d-none d-md-block" src="/img/semicircle-shape.png" alt="semicircle">
    </div>
</div>

<!--<div class="jumbotron m-0" > style="background-image: url('img/dots.png')"-->
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="container-fluid col-12 text-center mb-5">
                <div>
                    <img src="img/yumRainLogo.gif" alt="rainingFood" style="z-index:1;position:relative;bottom: 10em;width: 75%;">
                </div>
            </div>
            <div id="headerSlide" class="carousel carousel-fade" data-ride="carousel" data-interval="3000" data-pause="false">
                <div class="carousel-inner">
                    <div class="carousel-item active">
                        <span class="white">hungry? where to?</span>
                    </div>
                    <div class="carousel-item">
                        <span class="white">let's pick your next meal together!</span>
                    </div>
                    <div class="carousel-item">
                        <span class="white">pizza, sushi, donuts? only yumrando knows!</span>
                    </div>
                </div>
            </div>
            </div>
        </div>
    </div>
</div>

<!--guest view of random and list-->
<div th:replace="partialsFile/show-modal-partial :: show-modal"></div>
<div th:replace="partialsFile/add-modal-partial :: add-modal"></div>
<div th:replace="partialsFile/search-modal-partial :: search-modal"></div>
<div th:replace="partialsFile/app :: app"></div>

<div th:replace="partials/footer :: foot"></div>


<script th:replace="partials/scripts :: script"></script>
<script src="js/apiKey.js"></script>
<script src="js/apiSearch.js"></script>
<script src="js/apiCreate.js"></script>
<script src="js/apiShow.js"></script>
<script src="js/geoLocation.js"></script>
<script src="js/app.js"></script>

</body>
</html>