<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras">
<div th:fragment="add-modal" class="modal fade" id="addModal" tabindex="-1" aria-labelledby="guestAddModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="guestAddModalLabel">Add A Restaurant</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                <input id="simple-name" type="text" placeholder="Name of Restaurant">
                    <input id="simple-address" type="text" placeholder="Enter full address">
                    <input id="simple-zipcode" type="text" placeholder="Zipcode of Restaurant">
                </div>
                <div>
                    <a id="tag-choice">Add Tags</a>
                    <div id="tag-addon"></div>
                    <ul>
                    <div id="tag-choices"></div>
                    </ul>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                <div sec:authorize="isAnonymous()">
                <button id="add-basic" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <button id="add-basic-user" type="button" class="btn btn-primary" data-bs-dismiss="modal">Save changes</button>
                </div>
            </div>
        </div>
    </div>
</div>
</html>