<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
xmlns:sec="http://www.thymeleaf.org/extras">
<div th:fragment="app">
    <div class="container indexMainContainer" >
        <div class="row">
            <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
        </div>
        <div class="row">
            <div class="col-4">
                <div th:replace="partialsFile/randomSearch :: random-search"></div>
            </div>
            <div class="col-8">
                <div class="row container-fluid bg-navy roundCorners" style="width: 95%; margin-bottom: 3em; margin-right: 2em;">
                    <div>
                        <h1 class="instructions">Build your list with your favorite restaurants,<br>
                                                then hit Rando to find out where you're going!</h1>
                    </div>
                    <div class="col-8">
                        <div th:replace="partialsFile/listBodyPartial :: list-body"></div>
                    </div>
                    <div class="col-4" style="padding-left: 2em;">
                        <div>
                            <div id="random-button-tool"></div>
                            <div sec:authorize = "isAnonymous()">
                                <button id="guest-random" class="btn-pink rando" type="button">
                                    Rando </button>
                            </div>
                            <div sec:authorize = "isAuthenticated()">
                                <button id="user-random" class="btn-pink rando-user" type="button">
                                    Rando </button>
                            </div>
                            <img class="image-fluid" style="margin-bottom: 3em; margin-left: 1em" id="rain" src="/img/cloudRain.png" alt="food rain">
                        </div>
                    </div>
                </div>
            </div>
            </div>

        </div>
    </div>
</div>
</html>