<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
xmlns:sec="http://www.thymeleaf.org/extras">
<div th:fragment="app">
    <div class="container">
        <div class="row">
            <div class="col-6">
                <div>
                    <img id="rain" src="/img/yumRain.gif" alt="food rain">
                </div>
                <div id="random-button-tool"></div>
                <div sec:authorize = "isAnonymous()">
                <button id="guest-random" class="register" type="button"> Rando </button>
                </div>
                <div sec:authorize = "isAuthenticated()">
                    <button id="user-random" class="register" type="button"> Rando </button>
                </div>
            </div>
            <div class="col-6">
                <div th:replace="partialsFile/listBodyPartial :: list-body"></div>

            </div>
        </div>
        <div class="row">
            <div th:replace="partialsFile/randomSearch :: random-search"></div>
        </div>
    </div>
</div>
</html>