<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras">
<div th:fragment="list-body">
    <div>
        <div sec:authorize="isAuthenticated()">
            <div th:replace="partialsFile/userToolbar :: user-toolbar"></div>
        </div>
        <div class="row">
            <div sec:authorize="isAuthenticated()">
                <div id="add-list-form"></div>
                <div th:if="${chosenList == null}" class="container" id="user-list-initial">
                </div>
                <div th:if="${chosenList != null}" class="container" id="user-list-items">
                    <div th:each="rest : ${chosenList.restaurants}">
                        <div class="row user-restaurants bg-white align-items-center" th:id="${'r' + rest.id }" data-bs-toggle="modal"
                             data-bs-target="#showModal">
                            <div class="col-9 restaurant-show">
                                <h6 th:text="${rest.name}"></h6>
                            </div>
                            <div class="col-3 restaurant-delete">
                                <form th:action="@{'/delete/'+ ${chosenList.id} + '/' + ${rest.id}}" method="POST">
                                    <button class="btn-red" style="padding: .5em"><i class="fas fa-minus"></i>
                                    </button>
                                </form>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div sec:authorize="isAnonymous()">
                <div style="margin-top: 2em;" id="restaurant-items"></div>
            </div>

        </div>
        <div class="row container">
            <div sec:authorize="isAnonymous()">
                <div id="guest-add-buttons">
                    <button type="button" class="col-md-2 col-xs-4 btn btn-green active-search-modal" data-bs-toggle="modal"
                            data-bs-target="#addModal">
                        <i class="fas fa-plus"></i>
                    </button>

                    <a tabindex="0" class="col-md-2 col-xs-4 btn login geo-disabled" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Allow browser to know your location to activate feature.">
                        <i class="fas fa-search"></i></a>
                </div>
            </div>
            <div sec:authorize="isAuthenticated()">
                <div id="user-add-buttons">
                    <button type="button" class="col-2 btn btn-green active-search-modal" data-bs-toggle="modal"
                            data-bs-target="#addModal">
                        <i class="fas fa-plus"></i>
                    </button>
                    <a tabindex="0" class="col-2 btn login geo-disabled" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Allow browser to know your location to activate feature.">
                        <i class="fas fa-search"></i></a>
                </div>
            </div>
        </div>
    </div>
</div>
</html>