<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="list-body">
    <div class="container">
<!--        <div sec:authorize = "isAuthenticated()">-->
        <div th:replace="partialsFile/userToolbar :: user-toolbar"></div>
<!--        </div>-->
    <div class="row">
    <div id="restaurant-items"></div>
    </div>
    <div class="row">
        <div>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#addModal">
               Add Restaurant
            </button>
            <button type="button" class="btn btn-primary" data-bs-toggle="modal" data-bs-target="#searchModal">
                Search Restaurant
            </button>
        </div>
    </div>
    </div>
</div>
</html>