<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="tags-modal" class="modal fade" id="tagsModal" tabindex="-1" aria-labelledby="tagsModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-lg">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <div class="container">
                    <div class="row d-flex justify-content-end">
                        <button type="button" class="modal-title btn-close modal-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="row d-flex justify-content-start mb-3">
                        <h5 class="modal-title tag-modal-info">Select Your Favorite Cuisine Types</h5>
                    </div>
                </div>
            </div>
            <div id="tag-modal-body" class="modal-body-content">
                <div class="container">
                    <div class="row g-3 align-items-center my-3 tag-modal-info">
                        <div class="col-xs-5 col-lg-3">
                            <label class="col-form-label form-label modal-address" for="tag-search">Search for tags</label>
                        </div>
                        <div class="col-xs-7 col-lg-5">
                            <input type="search" id="tag-search" class="deny-submit form-control">
                        </div>
                    </div>
                    <div id="check-tags" class="row"></div>
                </div>
            </div>
            <div class="modal-footer tag-modal-info">
                <button type="button" class="btn login" data-bs-dismiss="modal" id="save-tags">Submit</button>
            </div>
        </div>
    </div>
</div>
</html>