<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en"
      xmlns:sec="http://www.thymeleaf.org/extras">
<div th:fragment="random-search">

    <div class="col-xs-12 col-md-2 col-lg-4">
        <img id="phone" src="/img/whitePhone.png" alt="magic phone">
    </div>
    <div id="magicText">
        <h3 id="predict">Predict My Next Meal</h3>

        <input id="random-search-input" class="submit-need" type="text" placeholder="give me a hint">


            <div sec:authorize="isAnonymous()" id="guest-random-search">
                <a tabindex="0" class="btn btn-primary register geo-disabled" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Allow browser to know your location to activate feature.">
                    Presto Yum-o</a>
            </div>
            <div sec:authorize="isAuthenticated()" id="user-random-search">
                <a tabindex="0" class="btn btn-primary register geo-disabled" role="button" data-bs-toggle="popover" data-bs-trigger="focus" data-bs-content="Allow browser to know your location to activate feature.">
                    Presto Yum-o</a>
            </div>
    </div>
</div>



</html>