<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras" lang="en">
<div th:fragment="search-modal" class="modal fade" id="searchModal" tabindex="-1" aria-labelledby="searchModalContent"
     aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header d-flex justify-content-center">
                <div class="container">
                    <div class="row d-flex justify-content-end">
                        <button type="button" class="modal-title btn-close modal-close" data-bs-dismiss="modal" aria-label="Close">X</button>
                    </div>
                    <div class="row d-flex justify-content-start mb-3">
                        <div class="col-12">
                <h5 class="modal-title" id="searchModalContent">Search Nearby Restaurants</h5>
                        </div>
                    </div>
                </div>
            </div>
            <div id="search-modal-body" class="modal-body-content">
                <div id="search-container">
                    <div sec:authorize="isAnonymous()" class="container my-4">
                    <select id="search-select" class="addRest form-select form-select-lg mb-3">
                        <option selected>Search by ...</option>
                        <option value="name">Key Word</option>
                        <option value="near">Restaurants Near Me</option>
                    </select>
                    </div>
                    <div sec:authorize="isAuthenticated()" class="container my-4">
                        <select id="search-select-user" class="form-select form-select-lg mb-3">
                            <option selected>Search by ...</option>
                            <option value="name">Key Word</option>
                            <option value="near">Restaurants Near Me</option>
                        </select>
                    </div>
                </div>

                <div id="search-body" class="container"></div>

                <div sec:authorize="isAnonymous()">
                    <div style="overflow: scroll" data-bs-spy="scroll" data-bs-target="search-container"
                         data-bs-offset="0" tabindex="0" id="search-results" class="container"></div>
                </div>
                <div sec:authorize="isAuthenticated()">
                    <div style="overflow: scroll" data-bs-spy="scroll" data-bs-target="search-container"
                         data-bs-offset="0" tabindex="0" id="search-results-user" class="container"></div>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-pink" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
</html>