<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-lists-tags" class="container my-3">
    <div class="row">
        <div class="col-9">
            <h4>My Favorite Tags</h4>
        </div>
        <div class="col-3">
            <button id="edit-list" class="btn btn-primary" type="button">Edit</button>
            <button id="add-list" class="btn btn-primary" type="button">+</button>
        </div>
    </div>
    <div class="container">
        <div class="row">

            <div class="col-10">
                Tag item
            </div>
            <div class="col-2">
                <button class="btn btn-danger">x</button>
            </div>

        </div>
    </div>
</div>
</html>