<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-history-list" id="history-table" class="container">
    <div class="row my-3">
        <div class="col-8 d-flex align-items-center">
            <h4 class="lilac profile-list-item">My Recent Restaurants</h4>
        </div>

    </div>
    <div class="container bg-green roundCorners">
        <div th:if="${#lists.isEmpty(history)}" class="d-flex justify-content-center align-items-center list-items">
            <h5 class="navy label-font my-5">My Restaurant History is Empty.</h5>
        </div>
        <div th:unless="${#lists.isEmpty(history)}">
            <table class="table table-hover">
                <thead>
                <tr>
                    <th scope="col" class="navy label-font">Name</th>
                    <th scope="col" class="navy label-font">Date</th>
                </tr>
                </thead>
                <tbody>

                <tr th:each="rando : ${history}">
                    <td class="navy label-font" th:text="${rando.getRestaurant().name}"></td>
                    <td class="navy label-font" th:text="${rando.updateTime}"></td>
                </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>
</html>