<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-toolbar" class="d-flex justify-content-center my-2">


        <div th:if="${favorites}" class="row w-100 bg-lilac roundCorners">
            <div class="col-3 justify-content-center">
                <button id="yummies" class="mx-0 image-fluid navy btn btn-pink heart" style="height: 2em;"
                        data-bs-toggle="tooltip" data-bs-placement="top"
                        title="Favorite Cuisine"><i class="fas fa-heart"></i></button>
            </div>
            <div th:if="${lists != null}" class="col-6 d-flex align-items-center">
                <form class="w-100 d-flex align-items-center">
                    <label for="currentList"></label>
                    <select class="py-1 w-100" name="currentList" id="currentList">
                        <div th:if="${chosenList != null}">
                            <option th:value="${chosenList.id}" th:text="${chosenList.name}" selected></option>
                        </div>
                        <div th:unless="${chosenList != null}">
                            <option value="default" class="image-fluid" style="height: 1em;" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Your Lists"></option>
                        </div>
                        <option th:each="list : ${lists}" th:value="${list.id}" th:text="${list.name}"></option>
                    </select>
                </form>
            </div>
            <div class="col-3 d-flex justify-content-center">
                <button class="mx-0 btn btn-green greenAdd" id="new-list" data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="New List"><i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
        <div th:unless="${favorites}" class="row w-100 bg-lilac roundCorners">
            <div th:if="${lists != null}" class="col-8 d-flex align-items-center">
                <form class="w-100 d-flex align-items-center">
                    <label for="currentList"></label>
                    <select class="py-1 w-100" name="currentList" id="currentList">
                        <div th:if="${chosenList != null}">
                            <option th:value="${chosenList.id}" th:text="${chosenList.name}" selected></option>
                        </div>
                        <div th:unless="${chosenList != null}">
                            <option value="default" class="image-fluid" style="height: 1em;" data-bs-toggle="tooltip"
                                    data-bs-placement="top"
                                    title="Your Lists"></option>
                        </div>
                        <option th:each="list : ${lists}" th:value="${list.id}" th:text="${list.name}"></option>
                    </select>
                </form>
            </div>
            <div class="col-4 d-flex justify-content-center">
                <button class="mx-0 btn btn-green greenAdd" id="new-list" data-bs-toggle="tooltip"
                        data-bs-placement="top"
                        title="New List"><i class="fas fa-plus"></i>
                </button>
            </div>
        </div>
    </div>

</html>