<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-info">
<div class="container">
    <div class="row">
        <div class="col-8">
            <div class="container">
                <!-- Add th fields for form and each input according to the way it is named in the User model-->
                <form th:action="@{'/profile/' + ${user.username} + '/edit'}" th:method="POST" th:object="userInfo">
                    <input th:field="*{firstName}" name="firstName" placeholder="First Name" type="text">
                    <input th:field="*{lastName}" name="lastName" placeholder="Last Name" type="text">
                    <input th:field="*{email}" name="email" placeholder="Email" type="email">
                    <input th:field="*{phoneNumber}" name="phoneNumber" placeholder="Phone Number" type="text">
                    <input th:field="*{zipcode}" name="zipcode" placeholder="Zipcode" type="text">
                    <div>
<!--                    <button class="btn btn-primary" type="button">Edit Profile</button>-->
                    <button class="btn btn-primary" type="submit">Submit Changes</button>
                </div>
            </form>
            </div>
        </div>
        <div class="col-4">
            Profile Picture
        </div>
    </div>

</div>
</div>
</html>