<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-friends-list" class="container mb-5">
    <div class="row mb-2">
        <div class="col-9 d-flex align-items-center">
            <h4 class="lilac profile-list-item">My Friends</h4>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button id="add-friend" type="button" class="btn btn-pink">+</button>
        </div>
    </div>
    <div class="container bg-green roundCorners">
        <div id="friend-form"></div>
        <div id="friend-list">
            <div class="row align-items-center">
                <div class="col-xs-12 col-md-6">
                    <div th:if="${#lists.isEmpty(friends) && #lists.isEmpty(requests)}" class="d-flex justify-content-center align-items-center list-items">
                        <h5 class="navy label-font my-5">Send a Friend Request!</h5>
                    </div>
                    <div th:each="friend : ${friends}">
                        <div class="row py-2">
                            <div class="col-xs-12 col-lg-6 d-flex align-items-center">
                                <h4 class="navy label-font profile-list-item" th:text="${friend.getFriend().username}"></h4>
                            </div>
                            <div class="col-xs-12 col-lg-6 d-flex justify-content-end">
                                <div th:if="${!friend.confirmation}" class="custom-padding">
                                    <h4 class="navy label-font profile-list-item">Request Sent</h4>
                                </div>
                                <div th:if="${friend.confirmation}" class="row g-1">
                                        <div class="col">
                                            <form>
                                                <button th:id="${'g' + friend.getFriend().id}" class="btn reject-small friend-view" type="button">View</button>
                                            </form>
                                        </div>
                                    <div class="col d-flex align-items-center">
                                    <form th:action="@{'/profile/friend/delete/' + ${friend.id}}" method="POST">
                                        <button th:id="${'d' + friend.id}" type="submit" class="btn btn-red">Remove</button>
                                    </form>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div th:each="request : ${requests}">
                            <div th:if="${request.confirmation}" class="row py-2">
                                <div class="col-xs-12 col-lg-6 d-flex align-items-center">
                                    <h4 class="navy label-font profile-list-item" th:text="${request.getUser().username}"></h4>
                                </div>
                                <div class="col-xs-12 col-lg-6 d-flex justify-content-end">
                                    <div class="row g-1">
                                        <div class="col">
                                            <form>
                                                <button th:id="${'g' + request.getUser().id}" class="btn reject-small friend-view" type="button">View</button>
                                            </form>
                                        </div>
                                        <div class="col d-flex align-items-center">
                                    <form th:action="@{'/profile/friend/delete/' + ${request.id}}" method="POST">
                                        <button th:id="${'d' + request.id}" type="submit" class="btn btn-red">Remove</button>
                                    </form>
                                        </div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>
                <div class="col-xs-12 col-md-6">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button id="request-button" class="accordion-button collapsed login roundCorners" type="button" data-bs-toggle="collapse"
                                    data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                <img src="/img/profile-friend-star.png" alt="Star" id="friend-star">

                                <span id="request-text">Requests</span>
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne"
                             data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                                <div th:each="request : ${requests}">
                                    <div th:if="${!request.confirmation}" class="row py-2">
                                        <div class="col-xs-12 col-lg-6 d-flex align-items-center">
                                            <h4 class="navy label-font profile-list-item" th:text="${request.getUser().username}"></h4>
                                        </div>
                                        <div class="col-xs-12 col-lg-6 d-flex justify-content-end">
                                            <div class="row g-1 align-items-center">
                                                <div class="col">
                                            <form class="d-flex justify-content-end" th:action="@{'/profile/friend/accept/' + ${request.id}}"
                                                  method="POST">
                                                <button type="submit" class="btn reject-small">Accept</button>
                                            </form>
                                                </div>
                                                <div class="col">
                                            <form class="d-flex justify-content-center" th:action="@{'/profile/friend/delete/' + ${request.id}}"
                                                  method="POST">
                                                <button th:id="${'d' + request.id}" type="submit"
                                                        class="btn btn-red">Reject
                                                </button>
                                            </form>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                </div>
            </div>
        </div>
    </div>
</div>
</html>