<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-friends-list" class="container my-3">
    <div class="row">
        <div class="col-10">
            <h4>My Friends</h4>
        </div>
        <div class="col-2">
            <button id="add-friend" type="button" class="btn btn-primary">+</button>
        </div>
    </div>
    <div class="container">
        <div id="friend-form"></div>
        <div id="friend-list">
            <div class="Row">
                <div class="accordion" id="accordionExample">
                    <div class="accordion-item">
                        <h2 class="accordion-header" id="headingOne">
                            <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                                Requests
                            </button>
                        </h2>
                        <div id="collapseOne" class="accordion-collapse collapse" aria-labelledby="headingOne" data-bs-parent="#accordionExample">
                            <div class="accordion-body">
                               <div class="row" th:each="request : ${requests}">
                                   <div th:if="${!request.confirmation}" class="row">
                                       <div class="col-9">
                                           <h5 th:text="${request.getUser().username}"></h5>
                                       </div>
                                       <div class="col-3">
                                           <form th:action="@{'/profile/friend/accept/' + ${request.id}}" method="POST">
                                               <button type="submit" class="btn btn-success">Accept</button>
                                           </form>
                                           <form th:action="@{'/profile/friend/delete/' + ${request.id}}" method="POST">
                                           <button th:id="${'d' + request.id}" type="submit" class="btn btn-danger">Reject</button>
                                           </form>
                                       </div>
                                   </div>
                               </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div th:each="friend : ${friends}">
                    <div class="row">
                        <div class="col-10">
                    <h3 th:text="${friend.getFriend().username}"></h3>
                        </div>
                        <div class="col-2">
                            <div th:if="${!friend.confirmation}">
                                Request Sent
                            </div>
                            <div th:if="${friend.confirmation}">
                                <button th:id="${'g' + friend.getFriend().id}" class="btn btn-primary" type="button">View</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div th:each="request : ${requests}">
                    <div class="row">
                            <div th:if="${request.confirmation}">
                                <div class="col-10">
                            <h3 th:text="${request.getUser().username}"></h3>
                                </div>
                                <div class="col-2">
                                    <button th:id="${'g' + request.getUser().id}" class="btn btn-primary" type="button">View</button>
                                </div>
                            </div>
                    </div>
                </div>
            </div>
        </div>

    </div>
</div>
</html>