<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-lists-profile">

        <div class="row">
            <div class="col-8">
                <h4>My Lists</h4>
            </div>
            <div class="col-3">
                <button id="edit-list" class="btn btn-primary" type="button">Edit</button>
            </div>
            <div class="col-1">
                <button id="add-list" class="btn btn-primary" type="button">+</button>
            </div>
        </div>
        <div class="container">
            <div class="row">
                <div id="add-list-form"></div>
                <div id="list-items" class="col-10">
                    <h6>List Item <span id="icon-container" class="d-none"><i class="fas fa-edit"></i></span></h6>
                </div>
                <div class="col-2">
                    <button id="delete-list" class="btn btn-danger d-none">x</button>
                </div>

            </div>
        </div>



</div>
</html>