<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-info" class="container my-3">
    <div class="row">
        <div id="error-message" class="alert alert-danger d-none" role="alert"></div>
    </div>
    <div class="row">
        <div class="col-6 container">
            <div class="rounded-circle bg-green h-100 d-flex align-items-center justify-content-center">
           <h1 class="navy" th:text="${userInfo.username}"></h1>
            </div>
        </div>
        <div class="col-6">
            <div class="container bg-green roundCorners">
                <form th:action="@{'/profile/'}" th:method="POST" th:object="${userInfo}">
                    <div class="row g-2 align-items-center mb-3">
                        <div class="col-4">
                            <label class="navy label-font" for="firstName">First Name</label>
                        </div>
                        <div class="col-8">
                            <input class="user-info-input form-control" th:field="*{firstName}" name="firstName" type="text" id="firstName" disabled>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center mb-3">
                        <div class="col-4">
                            <label class="navy label-font" for="lastName">Last Name</label>
                        </div>
                        <div class="col-8">
                            <input class="user-info-input form-control" th:field="*{lastName}" name="lastName" id="lastName" type="text" disabled>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center mb-3">
                        <div class="col-4">
                            <label class="navy label-font" for="email">Email</label>
                        </div>
                        <div class="col-8">
                            <input class="user-info-input form-control" th:field="*{email}" name="email" id="email" type="email" disabled>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center mb-3">
                        <div class="col-4">
                            <label class="navy label-font" for="phoneNumber">Phone Number</label>
                        </div>
                        <div class="col-8">
                            <input class="user-info-input form-control" th:field="*{phoneNumber}" name="phoneNumber" id="phoneNumber" type="text" disabled>
                        </div>
                    </div>
                    <div class="row g-2 align-items-center mb-3">
                        <div class="col-4">
                            <label class="navy label-font" for="zipcode">Zipcode</label>
                        </div>
                        <div class="col-8">
                            <input class="user-info-input form-control" th:field="*{zipcode}" name="zipcode" id="zipcode" type="text" disabled>
                        </div>
                    </div>
                    <div class="container">
                        <div class="d-flex flex-row-reverse">
                        <button id="toggle-user-info" class="btn login" type="button">Edit Profile</button>
                        <button id="user-info-submit" class="btn login d-none" type="submit">Submit Changes</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>

    </div>


</div>
</html>