<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-lists-profile" class="my-3">
    <div class="row">
        <div class="col-9 d-flex align-items-center">
            <h4 class="lilac profile-list-item">My Lists</h4>
        </div>
        <div class="col-3 d-flex justify-content-end">
            <button id="edit-list" class="btn login my-2" type="button"><i class="fas fa-edit"></i></button>
            <button id="add-list" class="btn btn-pink my-2" type="button">+</button>
        </div>
    </div>
    <div class="container bg-green roundCorners">
        <div id="list-form"></div>
        <div th:if="${#lists.isEmpty(lists)}" class="d-flex justify-content-center align-items-center list-items">
            <h5 class="navy label-font my-5">Lists Have Not Been Created</h5>
        </div>
        <div class="list-items"  th:each="list : ${lists}">
            <div class="row py-2">
                <div class="col-10 d-flex align-items-center">
                    <h4 class="navy label-font profile-list-item"><span th:text="${list.name}" th:remove="tag"></span>
                        <span th:attr="data-id=${list.id}, data-name=${list.name}" class="icon-container d-none"><i class="fas fa-edit"></i></span>
                    </h4>
                </div>
                <div class="col-2">
                    <form th:method="POST" th:action="@{'/delete/lists/' + ${list.id}}">
                        <button type = "submit" class="btn btn-pink d-none delete-list">-</button>
                    </form>
                </div>
            </div>
        </div>
    </div>


</div>
</html>