<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<div th:fragment="user-toolbar">

        <div class="row">
            <div class="col-3">
                <button id="yummies">My Yummies!</button>
            </div>
            <div th:if="${lists != null}" class="col-3">
                <form>
                    <label for="currentList"></label>
                    <select  class="form-select" name="currentList" id="currentList">
                        <option th:each = "list : ${lists}" th:value="${list.id}" th:text="${list.name}"></option>
                    </select>
                </form>
            </div>
            <div class="col-3">
                <button id="new-list">New List</button>
            </div>
        </div>

</div>
</html>